
:root {
  --cor-primaria: #00B37E;
  --cor-primaria-hover: #008B65;
  --cor-erro: #114b79;
  --cor-fundo: #e9ecef;
  --cor-texto: #1C1C1C;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--cor-fundo);
  color: var(--cor-texto);
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ main {
  margin-left: 240px;
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 1rem;
  }
}



